* {
    font-family: courier;
}

body {
	background-color: green;
}

table, td {
	width: 10%;
	height: 10%;
	border: thick;
	background-color: rgb(222,184,135);
	text-align: center;
}

table, p {
	font-size: 90%;
}

table {
    width:500px;
    height:500px;
    background-color:#d9d9d9;
    position:fixed;
    margin-left:-250px; /* half of width */
    margin-top:-250px;  /* half of height */
    top:50%;
    left:50%;
}